/* 电脑UI样式 */
@media screen and (min-width: 900px) {
    .layout {
        padding-left: 10%;
        padding-right: 10%;
        padding: 0 10%;
    }

    .row {
        display: flex;
        /* 水平居中 */
        justify-content: center;
    }
}

/* 手机UI样式 */
@media screen and (max-width: 600px) {
    .layout {
        padding-left: 10%;
        padding-right: 10%;
        padding: 0 10%;
    }

    .row {
        display: flex;
        /* 水平居中 */
        justify-content: center;
    }
}